<ul class="drivers-list mt-4">

<% @offers.each do |offer| %>
<li class="drivers-list-item ">
<div class="card-car">
  <%= cl_image_tag offer.car_photo.key %>
  <div class="card-car-infos">
    <div>
      <h2><%= offer.car_model %></h2>
      <p>Driven by: <%= offer.user.full_name %></p>
    </div>
    <h2 class="card-car-pricing"><%= offer.price_per_km.floor %> USD</h2>
    <%= cl_image_tag offer.user.avatar.key, class: "card-car-user avatar-bordered" %>
  </div>

  <% if policy(offer).edit? %>
  <%= link_to 'Edit', edit_offer_path(offer), class: "d-flex justify-content-center" %>
  <% end %>

</div>
</li>
<% end %>
</ul>
